.body-container {
  display: flex;
  flex-flow: column nowrap;

  height: 100vh;
}

.header {
  height: 4rem;
  background-color: aliceblue;
}

.main-container {
  position: relative;

  display: flex;
  flex-flow: row nowrap;

  flex: 1;
}

.side-menu {
  width: 10rem;

  background-color: red;
}

.side-menu__top {
}
.side-menu__middle {
}
.side-menu__bottom {
}

.taskview {
  display: flex;
  align-items: center;
  flex-flow: column;

  flex: 1;
  padding: 10px;
}

.taskview__name {
  font-size: 3rem;
  margin-bottom: 2rem;
}

/*Task Bar*/

.taskbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  
    width: 50%;
    margin-bottom: 10px;
  }  

.taskbar__content {
  position: relative;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 30px auto 30px;
  row-gap: 5px;
  grid-template-areas:
    "checkbox top priority"
    ". middle ."
    ". bottom bottom";

  flex: 1;
  border: 1px solid blue;
}

.taskbar__checkbox {
  grid-area: checkbox;
}

.taskbar__top {
  display: flex;
  align-items: center;

  grid-area: top;

  padding: 0 5px;
  /* border: 1px solid; */
}

.taskbar__name {
  width: 70%;
}
.taskbar__name-link {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.taskbar__folder {
  display: flex;
  justify-content: flex-end;

  width: 30%;
}
.taskbar__folder-link {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.taskbar__descript {
  display: flex;
  align-items: center;
  grid-area: middle;

  padding: 0 5px;
  /* border: 1px solid; */
}
.taskbar__descript-link {
  color: rgba(138, 136, 136, 0.953);
  text-decoration: none;
  font-size: 1.4rem;
}

.taskbar__priority {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: priority;

  /* border: 1px solid black; */
  font-size: 2rem;
  color: red;
}

.taskbar__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  grid-area: bottom;

  padding: 0 5px;
  /* border: 1px solid; */
}

.taskbar__date {
}
.taskbar__date-link {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
.taskbar__tagsection {
  display: flex;
  flex-flow: row nowrap;
}
.taskbar__tag {
  font-size: 1.5rem;
  margin-left: 5px;
}

.taskbar__trashbin {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2px;
  font-size: 1.6rem;
  color: rgba(55, 54, 54, 0.218);
  transition: color 0.5s;
}

.taskbar__trashbin:hover {
  color: black;
}

.footer {
  height: 3rem;
  background-color: aliceblue;
}
